apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: rancher-tls
  namespace: cattle-system
spec:
  secretName: tls-rancher-ingress
  dnsNames:
    - rancher.home.arpa
  issuerRef:
    name: home-arpa-ca
    kind: ClusterIssuer
